<div class="container align-self-center">
  <div class="row">
    <div class="col">
      <form id="join-quiz-form">
        <div class="form-group">
          <h4 class="text-center">Join a Quiz</h4>
        </div>

        <div class="form-group">
          <div id="join-quiz-error-text" class="alert alert-danger d-none" role="alert">
          </div>
        </div>

        <div class="form-group">
          <input
            type="text"
            id="nickname-input"
            class="form-control"
            placeholder="Nickname"
            aria-describedby="nickname-help" />

          <small id="nickname-help" class="form-text text-muted pt-1">
            Doesn't have to be your real name, go wild!
          </small>
        </div>

        <div class="form-group">
          <input
            type="text"
            id="join-code-input"
            class="form-control"
            placeholder="Join code"
            aria-describedby="join-code-help" />

          <small id="join-code-help" class="form-text text-muted pt-1">
            Ask the quiz creator for the join code
          </small>
        </div>

        <div class="form-row">
          <div class="col">
            <a href="/create" class="btn btn-link text-info pl-0">Create a quiz</a>
          </div>

          <div class="col text-right">
            <button type="button" class="btn btn-info" id="join-quiz-button">
              <span id="join-quiz-button-spinner" class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
              Join
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
